* {
    box-sizing: border-box
}

aboutPanel {
    width: 325px;
    float: left
}

aboutPanel bander {
    height: 445px;
    width: 100%;
    float: left;
    background-image: url(../images/Frame.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

aboutPanel bander icon.close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    z-index: 15;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px
}

aboutPanel bander icon.close:hover {
    color: #fff
}

aboutPanel text {
    float: left;
    width: 100%;
    position: absolute;
    background-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: center
}

aboutPanel text content {
    padding: 50px 10px 30px;
    display: block;
    float: left;
    width: 100%;
    position: absolute;
    background-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

aboutPanel text content footer {
    position: absolute;
    bottom: 30px;
    left: 10px;
    right: 10px;
    text-align: center
}

aboutPanel text content footer button {
    display: block;
    margin: auto auto 20px;
    float: none;
    width: 145px
}

aboutPanel text content footer button.custom {
    border: 1px solid #fff
}

aboutPanel text content footer copyright {
    display: block;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    font-size: 10px;
    text-align: center;
    color: #fff;
    clear: both
}

aboutPanel text content footer a {
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    font-size: 10px;
    text-align: center;
    text-decoration-line: underline;
    color: #fff
}

aboutPanel text content footer a.link {
    display: inline-block;
    color: #fff
}

aboutPanel text content footer a:hover {
    text-decoration: none
}

aboutPanel text content footer .powered {
    display: block;
    margin: 15px auto 0;
    background-color: #fff;
    width: 170px;
    border-radius: 8px;
    height: 16px;
    line-height: 16px;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #00566c;
    opacity: .6;
    text-decoration: none
}

aboutPanel text content footer .powered:hover {
    opacity: 1;
    cursor: pointer
}

aboutPanel text content footer .powered icon {
    display: inline-block;
    float: none;
    width: 26px;
    height: 26px;
    font-size: 18px;
    background-color: #fff;
    line-height: 27px;
    border-radius: 50%;
    margin-top: -8px;
    color: #00566c;
    top: 2px
}

aboutPanel text content footer .powered icon:hover {
    color: #00566c;
    cursor: pointer
}

aboutPanel text content logo {
    margin-bottom: 10px;
    display: block
}

aboutPanel text content logo div.aboutLogo {
    display: inline-block;
    background: url(../images/aboutLogo.png) center no-repeat;
    width: 200px;
    height: 50px
}

aboutPanel text content centerBlock {
    width: 300px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

aboutPanel text content centerBlock textDescr {
    display: inline-flex;
    line-height: 19px;
    font-size: 14px;
    color: #fff;
    margin-top: 5px
}

aboutPanel text content centerBlock textDescr a.link {
    color: #fff
}

aboutPanel text content centerBlock textDescr a.link.small {
    line-height: 14px;
    font-size: 11px
}

aboutPanel text content centerBlock textDescr a.link:hover {
    color: #fff
}

aboutPanel text content centerBlock status {
    display: inline-flex;
    line-height: 19px;
    font-size: 14px;
    color: #fff
}

aboutPanel text content centerBlock throbber {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
    text-align: center
}

aboutPanel text content centerBlock throbber:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/throbber.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(-30deg)
}

aboutPanel text content centerBlock throbber thrText {
    display: block
}

aboutPanel text content centerBlock throbber.error {
    background-image: url(../images/throbberError.svg)
}

aboutPanel text content centerBlock throbber.normal:before {
    animation: rotateThrobber 2s infinite;
    animation-timing-function: cubic-bezier(.58, 0, .41, .91)
}

@-webkit-keyframes rotateThrobber {
    0% {
        transform: rotate(-30deg)
    }

    100% {
        transform: rotate(1770deg)
    }
}

aboutPanel text content descr {
    font-size: 10px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 15px;
    display: block
}

aboutPanel text content descr versionMiniDescr {
    display: block;
    color: #fff;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    font-size: 11px;
    text-align: center;
    margin-top: 5px
}

aboutPanel text content descr versionMiniDescr a.link {
    color: #fff;
    text-decoration: underline
}

aboutPanel text content descr versionMiniDescr a.link:hover {
    color: #fff
}

aboutPanel text content descr version {
    line-height: 14px;
    font-size: 22px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle
}

aboutPanel text content descr versionRollback {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: -29px
}

aboutPanel text content descr versionRollback button.iconed icon {
    color: #fff
}

aboutPanel text content footer {
    font-size: 10px;
    line-height: 15px;
    display: block
}

aboutPanel text content footer .link {
    display: inline-block;
    margin-top: 2px;
    margin-left: 5px;
    color: #6edefa;
    cursor: pointer
}

aboutPanel text content footer .link:hover {
    color: #fff
}

@-webkit-keyframes scro {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 600px 0
    }
}

* {
    position: relative
}

panel.versionManager {
    width: 235px;
    height: auto
}

panel.versionManager panelBody {
    background-color: #131e28;
    padding-top: 0
}

panel.versionManager panelBody .green {
    color: #32DB87
}

panel.versionManager panelBody changer {
    width: 100%;
    border-bottom: 1px solid #252e37;
    padding: 10px 20px;
    float: left;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px
}

panel.versionManager panelBody changer button {
    width: 50%;
    float: left;
    margin-right: 0;
    margin-left: 0;
    background-color: transparent;
    border: 1px solid #252e37
}

panel.versionManager panelBody changer button.active {
    border: 1px solid #00566c;
    color: #6edefa
}

panel.versionManager panelBody changer button.active:hover {
    border: 1px solid #0782a0
}

panel.versionManager panelBody changer button .indicator {
    display: inline-block;
    background: #32DB87;
    border-radius: 2px;
    width: 4px;
    height: 4px;
    top: -6px;
    margin-right: -4px
}

panel.versionManager panelBody changer button:hover {
    border: 1px solid #00566c
}

panel.versionManager panelBody .backLogo {
    position: absolute;
    right: 20px;
    top: 70px
}

panel.versionManager panelBody version {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 24px;
    color: #bac7d7;
    display: block;
    z-index: 5;
    clear: both
}

panel.versionManager panelBody version a.link {
    display: inline-block;
    cursor: pointer;
    margin-top: -5px
}

panel.versionManager panelBody version a.link icon {
    color: #6edefa;
    display: inline-block;
    float: none;
    margin-top: -5px
}

panel.versionManager panelBody versionDescr {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 10px;
    color: #bac7d7;
    display: block;
    margin-top: 0;
    z-index: 5;
    clear: both
}

panel.versionManager panelBody versionMiniDescr {
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 10px;
    color: #3e4954;
    display: block;
    margin-top: 7px;
    z-index: 5;
    clear: both
}

panel.versionManager panelFooter {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center
}

panel.versionManager panelFooter text {
    line-height: 24px;
    height: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #bac7d7
}

panel.versionManager panelFooter text icon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    float: none;
    display: inline-block;
    color: #bac7d7;
    margin-right: -5px
}

panel.versionManager panelFooter button {
    display: block;
    margin: auto;
    float: none;
    width: auto;
    padding-left: 20px;
    padding-right: 20px
}

panel.versionManager panelFooter button.bordered {
    border: 1px solid #131e28
}

panel.versionManager panelFooter button.bordered:hover {
    border: 1px solid #00566c
}

.loading {
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite
}